[mysqld]
datadir = {{ mysql_datadir }}
socket = /var/lib/mysql/mysql.sock
user = mysql
symbolic-links = 0
character-set-server = {{ mysql_character_set }}
skip-character-set-client-handshake
default_storage_engine = {{ mysql_storage_engine }}
innodb_data_home_dir = {{ mysql_innodb_data_home_dir }}
innodb_log_group_home_dir = {{ mysql_innodb_log_group_home_dir }}
innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
lower_case_table_names = {{ mysql_lower_case_table_names }}
port = {{ mysql_port }}
max_allowed_packet = {{ mysql_max_allowed_packet }}

[client]
default-character-set = {{ mysql_character_set }}
port = {{ mysql_port }}

[mysqldump]
default-character-set = {{ mysql_character_set }}

[mysql]
default-character-set = {{ mysql_character_set }}
prompt = {{ mysql_prompt }}

[mysqld_safe]
log-error = {{ mysql_log_error }}
pid-file = /var/run/mysqld/mysqld.pid

[libmysqlclient]
default-character-set = {{ mysql_character_set }}
