ServerRoot "/etc/httpd"
ServerAdmin {{ httpd_server_admin }}
ServerTokens Prod
ServerSignature Off
ServerName {{ httpd_server_name }}
UseCanonicalName {{ httpd_use_canonical_name }}
HostnameLookups {{ httpd_hostname_lookups }}
User apache
Group apache
AddDefaultCharset utf-8
PidFile run/httpd.pid
Timeout {{ httpd_timeout }}
KeepAlive {{ httpd_keep_alive }}
MaxKeepAliveRequests {{ httpd_max_keep_alive_requests }}
KeepAliveTimeout {{ httpd_keep_alive_timeout }}
DocumentRoot "{{ httpd_document_root }}"
Listen {{ httpd_listen }}
TypesConfig /etc/mime.types
DefaultType text/plain
AccessFileName .htaccess
ErrorLog logs/error_log
LogLevel warn
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
CustomLog logs/access_log combined

<IfModule prefork.c>
  StartServers {{ httpd_prefork.start_servers }}
  MinSpareServers {{ httpd_prefork.min_spare_servers }}
  MaxSpareServers {{ httpd_prefork.max_spare_servers }}
  ServerLimit {{ httpd_prefork.server_limit }}
  MaxClients {{ httpd_prefork.max_clients }}
  MaxRequestsPerChild {{ httpd_prefork.max_requests_per_child }}
</IfModule>

<IfModule worker.c>
  StartServers {{ httpd_worker.start_servers }}
  MinSpareServers {{ httpd_worker.min_spare_servers }}
  MaxSpareServers {{ httpd_worker.max_spare_servers }}
  ServerLimit {{ httpd_worker.server_limit }}
  MaxClients {{ httpd_worker.max_clients }}
  MaxRequestsPerChild {{ httpd_worker.max_requests_per_child }}
</IfModule>

{% for module in httpd_load_module %}
{% if module.active %}
LoadModule {{ module.name }} {{ module.path }}
{% endif %}
{% endfor %}

Include conf.d/*.conf

<Directory />
  Options FollowSymLinks
  AllowOverride None
</Directory>

<Directory "{{ httpd_document_root }}">
  Options ExecCGI FollowSymLinks -Indexes
  AllowOverride All
  Order allow,deny
  Allow from all
</Directory>

<IfModule mod_userdir.c>
  UserDir disabled
</IfModule>

<IfModule dir_module>
  DirectoryIndex {{ httpd_directory_index }}
</IfModule>

<IfModule mod_mime_magic.c>
  MIMEMagicFile conf/magic
</IfModule>

{% if httpd_alias_settings %}
<IfModule alias_module>
{% for alias in httpd_alias_settings %}
Alias {{ alias.request }} {{ alias.redirect }}
{% endfor %}
</IfModule>
{% endif %}

<Files ~ "^\.ht">
  Order allow,deny
  Deny from all
</Files>
