<IfModule mod_proxy.c>
  ProxyRequests Off
  {% for proxy in httpd_proxy_settings %}
  <Proxy {{ proxy.url }}>
    {% if proxy.basic_path %}
    AuthType Basic
    AuthName "Input ID and Password."
    AuthUserFile {{ proxy.basic_path }}
    Require valid-user
    {% if proxy.permited_ips %}
    Satisfy Any
    Order Allow,Deny
    {% for ip in proxy.permited_ips %}
    Allow from {{ ip }}
    {% endfor %}
    {% endif %}
    <Files ~ "^.(htpasswd|htaccess)$">
      deny from all
    </Files>
    {% else %}
    Order allow,deny
    Allow from all
    {% endif %}
  </Proxy>
  ProxyPreserveHost On
  ProxyPass {{ proxy.request }} {{ proxy.redirect }}
  ProxyPassReverse {{ proxy.request }} {{ proxy.redirect }}
  {% for path in proxy.exclude_paths %}
  ProxyPass /{{ path }}/ !
  {% endfor %}
  {% endfor %}
</IfModule>
