<IfModule mod_evasive20.c>
  DOSHashTableSize    {{ httpd_evasive_setting.dos_hash_table_size }}
  DOSPageCount        {{ httpd_evasive_setting.dos_page_count }}
  DOSSiteCount        {{ httpd_evasive_setting.dos_site_count }}
  DOSPageInterval     {{ httpd_evasive_setting.dos_page_interval }}
  DOSSiteInterval     {{ httpd_evasive_setting.dos_site_interval }}
  DOSBlockingPeriod   {{ httpd_evasive_setting.dos_blocking_period }}
  DOSEmailNotify      {{ httpd_evasive_setting.dos_email_notify }}
  DOSLogDir           "{{ httpd_evasive_setting.dos_log_dir }}"
  {% if httpd_evasive_setting.white_list is defined %}
  {% for ip in httpd_evasive_setting.white_list %}
  DOSWhitelist   {{ ip }}
  {% endfor %}
  {% endif %}
</IfModule>
